[Rich Presence]

client_id=712088548278403123

[Map, Difficulty]

large_image={map_image}
large_text={map_hf}
small_image={variation_image}
small_text={difficulty_hf} - {variation_hf}
details={map_hf} ({difficulty_hf})
state=In Game

[Map, No Difficulty]

large_image={map_image}
large_text={map_hf}
small_image=
small_text=
details={map_hf}
state=In Game

[Co-Op]

state=In Co-Op Game

[No Map, No Difficulty]

large_image={icon}
large_text=Bloons TD 6
small_image=
small_text=
details=
state=In Menu